body{
    margin:0;
    color:#494949;
    font-size: 17px;
    background-color: #f2f2f2;
    letter-spacing: 0.7px;
    line-height: 1.5;
}

.header{
    background-color: #009688;
    color: #fff;
}

.header #menu-icon{
    float: left;
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 1.5em;
}

.header #header-text{
    text-align: center;
    font-size: 1.2em;
    position: relative;
    margin-top: 25px;
    margin-right: 30px;
}

.body{
    position: absolute;
    top: 20px;
    height: 90%;
    left: 30px;
    right: 30px;
}

.main{
    background-color: #fff;
    position: relative;
    width: 100%;
    height: auto;
}

.tab-btn{
    display: inline-block;
    padding: 0.5em 0.5em;
    text-decoration: none;
    cursor:pointer;
    background-color: #dbd9d9;
    color:#494949;
    font-weight: normal;
}

.tab-btn:hover{
    color: #494949;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active::after {
    background: #00796B;
}

.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple{
    background-color: #00796B;
}

.body-tab{
    -webkit-justify-content: left;
}

.side-tab a{
    font-size: 1em;
    width: 30%;
}

.plan-form{
    padding: 10px;
}

.plan-form .form-text{
    font-size: 14px;
}

.mdl-layout__drawer{
    width: 300px;
    transform: translateX(-300px);
}

#form-tag{
    height: 60px;
}

#form-tag p{
    float:left;
    margin: 10px;
    cursor: pointer;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised{
    background-color: #009688;
    /* margin-top: 30px; */
    margin: auto;
}

#form-time{
    height: 50px;
}

#form-time #date{
    width: 60%;
    float:left;
}

#form-time #time{
    width: 40%;
    float:left;
}

.tag#red::before{
    background-color: #D32F2F
}

.tag#blue::before{
    background-color: #0288D1;
}

.tag#green::before{
    background-color: #388E3C;
}

.mdl-layout__header,
.mdl-layout__content{
    z-index: initial;
}