<!doctype html>
<html ng-app="planApp">
<head>
	<meta charset="utf-8"/>
	<title>planApp</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-route/angular-route.js"></script>
    <script src="./node_modules/angular-route/angular-route.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">

    <link href="./lib/propellerkit/dist/css/propeller.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/calender.css">
    <link rel="stylesheet" href="./css/task.css">

    <script src="./scripts/app.js"></script>
    <script src="./scripts/route.js"></script>
    <script src="./dist/index-bundle.js"></script>
    <script src="./dist/calender-bundle.js"></script>
    <!-- <script src="./scripts/controller/calender.js"></script> -->
    <script src="./scripts/controller/task.js"></script>
</head>

<body ng-controller="indexController as indexCtrl">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <!-- ヘッダ -->
        <header class="mdl-layout__header header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">PlanApp</span>
            </div>
        </header>

        <!-- タブメニュー -->
        <div class="mdl-layout__drawer">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                <!-- タブ -->
                <div class="mdl-tabs__tab-bar side-tab">
                    <a href="#add-calender" class="mdl-tabs__tab is-active" ng-click="indexCtrl.value.flag.isCalenderMenu=true;">
                        <i class="far fa-calendar-alt"></i>
                    </a>
                    <a href="#add-task" class="mdl-tabs__tab" ng-click="indexCtrl.value.flag.isCalenderMenu=false;">
                        <i class="fas fa-tasks"></i>
                    </a>
                </div>

                <!-- カレンダーフォーム -->
                <div class="mdl-tabs__panel is-active" id="add-calender" ng-if="indexCtrl.value.flag.isCalenderMenu">
                    <nav class="mdl-navigation">
                        <div class="plan-form">
                            <div class="pmd-card-body" style="float:right;margin:0px;">
                                <div class="pmd-switch">
                                    <label>
                                        <input type="checkbox" ng-click="indexCtrl.value.flag.allDay=value;" ng-model="value">
                                        <span class="pmd-switch-label"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group pmd-textfield">
                                <label for="regular1" class="control-label">
                                    予定
                                </label>
                                <input type="text" id="regular1" class="form-control form-text" ng-model="indexCtrl.value.createPlan.name">
                            </div>
                            <div ng-if="indexCtrl.value.flag.allDay">
                                <div class="form-group pmd-textfield">
                                    <label for="regular1" class="control-label">
                                        開始日
                                    </label>
                                    <input type="date" id="regular1" class="form-control form-text" ng-model="indexCtrl.value.createPlan.name">
                                </div>
                                <div class="form-group pmd-textfield">
                                    <label for="regular1" class="control-label">
                                        終了日
                                    </label>
                                    <input type="date" id="regular1" class="form-control form-text" ng-model="indexCtrl.value.createPlan.name">
                                </div>
                            </div>
                            <div ng-if="!indexCtrl.value.flag.allDay">
                                <div class="form-group pmd-textfield" id="form-time"> 
                                    <div id="date">
                                        <label for="regular1" class="control-label">
                                            開始日時
                                        </label>
                                        <input type="date" id="regular1" class="form-control form-text" ng-model="indexCtrl.value.createPlan.startDate">
                                    </div>
                                    <div id="time">
                                        <label for="regular1" class="control-label">
                                        </label>
                                        <input type="time" id="regular1" class="form-control form-text" ng-model="indexCtrl.value.createPlan.startTime">
                                    </div>
                                </div>
                                <div class="form-group pmd-textfield" id="form-time"> 
                                    <div id="date">
                                        <label for="regular1" class="control-label">
                                            終了日時
                                        </label>
                                        <input type="date" id="regular1" class="form-control form-text" ng-model="indexCtrl.value.createPlan.finishDate">
                                    </div>
                                    <div id="time">
                                        <label for="regular1" class="control-label">
                                        </label>
                                        <input type="time" id="regular1" class="form-control form-text" ng-model="indexCtrl.value.createPlan.finishTime">
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group pmd-textfield" id="form-tag">
                                <label for="regular1" class="control-label">
                                    タグ
                                </label>
                                <div>
                                    <p class="tag" id="red" ng-style="indexCtrl.value.style.tag[indexCtrl.value.selectTag][0]" ng-click="indexCtrl.value.selectTag=1;"></p>
                                    <p class="tag" id="blue" ng-style="indexCtrl.value.style.tag[indexCtrl.value.selectTag][1]" ng-click="indexCtrl.value.selectTag=2;"></p>
                                    <p class="tag" id="green" ng-style="indexCtrl.value.style.tag[indexCtrl.value.selectTag][2]" ng-click="indexCtrl.value.selectTag=3;"></p>
                                </div>
                            </div>
                            <div class="form-group pmd-textfield">
                                <label class="control-label">メモ</label>
                                <textarea class="form-control form-text" ng-model="indexCtrl.value.createPlan.memo"></textarea>
                            </div>
                        </div>
                        <button class="tab-add-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="indexCtrl.method.clickAddBtn();" ng-if="!indexCtrl.value.flag.isDetailPlan">追加</button>
                        <button class="tab-add-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="indexCtrl.method.clickAddBtn();" ng-if="indexCtrl.value.flag.isDetailPlan">編集</button>
                    </nav>
                </div>

                <!-- タスクフォーム -->
                <div class="mdl-tabs__panel is-active" id="add-task" ng-if="!indexCtrl.value.flag.isCalenderMenu">
                    <nav class="mdl-navigation">
                        <div class="plan-form">
                            <div class="form-group pmd-textfield">
                                <label for="regular1" class="control-label">
                                    タスク名
                                </label>
                                <input type="text" id="regular1" class="form-control form-text">
                            </div>
                            <div class="form-group pmd-textfield">
                                <label for="regular1" class="control-label">
                                    締切日
                                </label>
                                <input type="date" id="regular1" class="form-control form-text">
                            </div>
                            <div class="form-group pmd-textfield">
                                <label for="regular1" class="control-label">
                                    予想時間
                                </label>
                                <input type="time" id="regular1" class="form-control form-text">
                            </div>
                            <div class="form-group pmd-textfield" id="form-tag">
                                <label for="regular1" class="control-label">
                                    タグ
                                </label>
                                <div>
                                    <p class="tag" id="red" ng-style="indexCtrl.value.style.tag[indexCtrl.value.selectTag][0]" ng-click="indexCtrl.value.selectTag=1;"></p>
                                    <p class="tag" id="blue" ng-style="indexCtrl.value.style.tag[indexCtrl.value.selectTag][1]" ng-click="indexCtrl.value.selectTag=2;"></p>
                                    <p class="tag" id="green" ng-style="indexCtrl.value.style.tag[indexCtrl.value.selectTag][2]" ng-click="indexCtrl.value.selectTag=3;"></p>
                                </div>
                            </div>
                            <div class="form-group pmd-textfield">
                                <label class="control-label">メモ</label>
                                <textarea class="form-control form-text"></textarea>
                            </div>
                        </div>
                        <button style="margin:auto;"class="tab-add-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            追加
                        </button>
                    </nav>
                </div>
            </div>
        </div>

        <!-- メインコンテンツ -->
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="body">
                    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                        <!-- タブ -->
                        <div class="mdl-tabs__tab-bar body-tab">
                            <a href="#starks-panel" class="mdl-tabs__tab is-active" ng-click="indexCtrl.method.clickTabBtn('calender');" >
                                <i class="far fa-calendar-alt"></i>  calendar
                            </a>
                            <a href="#lannisters-panel" class="mdl-tabs__tab body-tab" ng-click="indexCtrl.method.clickTabBtn('task');" >
                                <i class="fas fa-tasks"></i>  task
                            </a>
                        </div>

                        <!-- カレンダー -->
                        <div class="mdl-tabs__panel is-active" id="starks-panel" ng-if="indexCtrl.value.flag.isCalenderTab">
                            <div ng-view></div>
                        </div>

                        <!-- タスク -->
                        <div class="mdl-tabs__panel is-active" id="lannisters-panel" ng-if="!indexCtrl.value.flag.isCalenderTab">
                            <div class="task" ng-view></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
