<div class="calender">
        <div class="calender-header">
            <div class="calender-header-text">
                <p>{{calenderCtrl.value.today.year}}年{{calenderCtrl.value.today.month}}月</p>
            </div>
            <div class="calender-header-btn">
                <div class="pmd-card-body switch-btn">
                    <div class="pmd-switch">
                        <label>
                            <input type="checkbox">
                            <span class="pmd-switch-label"></span>
                        </label>
                    </div>
                </div>
                <div class="choose-btn">
                    <i class="fas fa-caret-left"></i><i class="fas fa-caret-right"></i>
                </div>
            </div>
        </div>
        <div class="calender-body">
            <table class="calender-table">
                <thead>
                    <tr>
                        <th class="blank">00:00</th>
                        <th class="calender-date">{{calenderCtrl.value.startDate}}日(月)</th>
                        <th class="calender-date">{{calenderCtrl.value.startDate + 1}}日(火)</th>
                        <th class="calender-date">{{calenderCtrl.value.startDate + 2}}日(水)</th>
                        <th class="calender-date">{{calenderCtrl.value.startDate + 3}}日(木)</th>
                        <th class="calender-date">{{calenderCtrl.value.startDate + 4}}日(金)</th>
                        <th class="calender-date">{{calenderCtrl.value.startDate + 5}}日(土)</th>
                        <th class="calender-date" style="border-right: none;">{{calenderCtrl.value.startDate + 6}}日(日)</th>
                    </tr>
                </thead>
            </table>
        </div>
</div>