<div class="task">
        <table class="task-table mdl-data-table mdl-js-data-table mdl-data-table--selectable is-upgraded" data-upgraded=",MaterialDataTable">
        <thead>
            <tr>
            <th width="5%">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                    <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
                    <span class="mdl-checkbox__label"></span>
                </label>      
            </th>
            <th width="30%">タスク名</th>
            <th width="10%">締切日</th>
            <th width="10%">予想時間</th>
            <th width="5%">タグ</th>
            <th width="40%">メモ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
                        <span class="mdl-checkbox__label"></span>
                    </label>  
                </td>
                <td>レポート</td>
                <td>01/03</td>
                <td>2時間</td>
                <td><p class="tag" style="background: #EF5350;"></p></td>
                <td>15:00までにBoxに提出</td>
            </tr>
            <tr>
                <td>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
                        <span class="mdl-checkbox__label"></span>
                    </label>  
                </td>
                <td>読書</td>
                <td>01/05</td>
                <td>3時間</td>
                <td><p class="tag" style="background: #29B6F6;"></p></td>
                <td>図書館返却</td>
            </tr>
            <tr>
                <td>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
                        <span class="mdl-checkbox__label"></span>
                    </label>  
                </td>
                <td>掃除</td>
                <td>01/03</td>
                <td>2時間</td>
                <td><p class="tag" style="background: #66BB6A;"></p></td>
                <td>15:00までにBoxに提出</td>
            </tr>
        </tbody>
    </table>
</div>
